<!--<% _.forEach(data.dogs, function(dogs) { %>-->
<!--<div class="col-lg-3 col-md-4 col-6 each-item">-->
    <!--<a href="#" class="d-block mb-4 h-50">-->
        <!--<img class="img-fluid img-thumbnail" src="<%- dogs.image%>" alt="<%- dogs.source%>/200x200">-->
    <!--</a>-->
<!--</div>-->
<!--<% }); %>-->


<div class="container gallary-container">
    <div class="row">
        <div class="card-columns">

            <% _.forEach(data.dogs, function(dogs) { %>

            <div class="card card-pin">
                <img class="card-img " src="<%- dogs.image%>" alt="<%- dogs.source%>/200x200">
                <div class="overlay">
                    <h3 class="card-title title">Puppy Title</h3>

                    <div class="download">
                        <a href="http://lorempixel.com/486/320/" download>
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                    </div><!-- download button -->

                    <div class="more">
                        <a href="#!"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More</a>
                    </div> <!-- more link -->

                </div> <!-- overlay effect -->
            </div> <!-- end of each card Item -->
            <% }); %>

        </div><!-- end of Card Columns -->
    </div>
</div>
